@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/dark_wall.png) repeat;
  margin: 0;
  font-family: 'Lato', Helvetica, sans-serif;
}

.clear { clear: both; }
.purple { color: #837c9a; }

#main_container {
  width: 960px;
  margin: 0 auto;
}

/* HEADER */
#header {
  height: 130px;
  border-bottom: 1px solid #403F44;
}

.header_logotype_container {
  width: 260px;
  height: 130px;
  float: left;
  border-right: 1px solid #403F44;
}

.header_menu_container {
  width: 699px;
  height: 130px;
  float: left;
}

.logotype_name {
  text-transform: uppercase;
  font-size: 32px;
  margin: 43px 0 0;
  color: #48DA9B;
}

.logotype_occupation {
  font-size: 14px;
  letter-spacing: 2px;
  color: #5ce2af;
}

/* LEFT COLUMN */
#left_col {
  width: 260px;
  float: left;
}

.profile_frame {
  width: 230px;
  height: 260px;
  border: 1px solid #403F44;
  margin-top: 30px;
}

.profile_picture {
  width: 210px;
  height: 240px;
  margin: 10px;
  background: url("profile.jpg") center / cover no-repeat;
}

/* CONTENT */
#content_container {
  width: 699px;
  float: left;
  border-left: 1px solid #403F44;
}

.block {
  margin: 25px 30px;
}

h1, h2 {
  color: #48DA9B;
}

/* BUTTON */
.send_message_button {
  background: #48DA9B;
  color: #000;
  width: 230px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 25px;
}

.send_message_button:hover {
  background: #29C782;
}

/* FOOTER */
#footer {
  height: 60px;
  border-top: 1px solid #403F44;
  text-align: center;
  color: #e4e3e8;
}
